* {
    box-sizing: content-box;
}


.navbar-nav {
    float: initial;
    margin: 20px;
}
body {
    background-color: #fff8ed;
}
.navbar-default {
    background-color: #faeede;
    border-color: #E7E7E7;
}
.panel-group {
    width: 500px;
}

.navbar-default .navbar-nav>li>a {
    color: #ed6e85;
    font-size: 33px;
    font-family: 'Dancing Script', cursive;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #865e5d;
    background-color: transparent;
}
.nav>li>a {
    padding: 15px 25px;
}

ul.rig {
	list-style: none;
	font-size: 0;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 14px;
	margin: 0 0 2.5% 2.5%;
	background: #fff8ed;
	border: 1px solid #ddd;
	font-size: 1.2rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddceb5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #99705a;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 30.83%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
