{% extends 'main.html' %}
{% load static from staticfiles %}
{% block products %}

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>


<div style="text-align: center;">
    <img src= "{% static 'images/cookies.png' %}" align="middle">
</div>


<div class="container">
  {% for pr in prod %}
  <div class="col-md-3">
    <div class="thumbnail">
      {% if pr.image %}
        <img src="{{ pr.image.url }}" alt="Lights" style="width:100%"   >
      {% endif %}
      <div class="caption">
        <p>{{ pr.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}


